@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;

    --text: #4c4f69;
    --subtext0: #6c6f85;
    --subtext1: #5c5f77;

    --surface0: #ccd0da;
    --surface1: #bcc0cc;
    --surface2: #acb0be;

    --overlay0: #9ca0b0;
    --overlay1: #8c8fa1;
    --overlay2: #7c7f93;

    --blue: #1e66f5;
    --lavender: #7287fd;
    --sapphire: #209fb5;
    --sky: #04a5e5;
    --teal: #179299;
    --green: #40a02b;
    --yellow: #df8e1d;
    --peach: #fe640b;
    --maroon: #e64553;
    --red: #d20f39;
    --mauve: #8839ef;
    --pink: #ea76cb;
    --flamingo: #dd7878;
    --rosewater: #dc8a78;
}

@media (prefers-color-scheme: dark) {
    /* set colors from above */
    :root {
        --base: #1e1e2e;
        --mantle: #181825;
        --crust: #11111b;

        --text: #cdd6f4;
        --subtext0: #a6adc8;
        --subtext1: #bac2de;

        --surface0: #313244;
        --surface1: #45475a;
        --surface2: #585b70;

        --overlay0: #6c7086;
        --overlay1: #7f849c;
        --overlay2: #9399b2;

        --blue: #89b4fa;
        --lavender: #b4befe;
        --sapphire: #74c7ec;
        --sky: #89dceb;
        --teal: #94e2d5;
        --green: #a6e3a1;
        --yellow: #f9e2af;
        --peach: #fab387;
        --maroon: #eba0ac;
        --red: #f38ba8;
        --mauve: #cba6f7;
        --pink: #f5c2e7;
        --flamingo: #f2cdcd;
        --rosewater: #f5e0dc;
    }
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: "QuickSand", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--base);
}
/* row class child of nav */
nav {
    background-color: var(--mantle);
}
nav .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--mantle);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text);
}

.navbar-brand:hover {
    color: var(--blue);
}

.material-symbols-outlined {
    color: var(--text);
}

.btn {
    background-color: var(--blue) !important;
    color: var(--base) !important;
}

.form-label {
    color: var(--text);
}
.form-control {
    background-color: var(--mantle);
    color: var(--text);
}
.form-text {
    color: var(--subtext0);
}

a {
    color: var(--blue);
    text-decoration: none;
}
a:hover {
    color: var(--sky);
}
.table th,
.table td {
    background-color: var(--mantle) !important;
    color: var(--text) !important;
}

.hiddenA {
    color: var(--text);
}

.hiddenA:hover {
    color: var(--text);
    cursor: pointer;
}
